.flex{
    flex-wrap: wrap;
    display: flex;
}
.card{
    background-color: beige;
    margin: 5px;
    padding: 5px;
    flex: 1 1 300px;
    transition: 1s;
}
.card:hover{
    flex: 1 1 500px;
    background-color: darksalmon;
    transition: 1s;
}