h1, h2, h3, p{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2, h3{
    width:100%;
    text-align: center;
}
#whatsapp:hover{
    background-image:linear-gradient(to right,green,lime);
    border-radius:20pt;
    padding:10px;
    transition:1s;
}
#whatsapp{
    transition:1s;
}
#instagram:hover{
    background-image:linear-gradient(to right, purple,orange);
    border-radius:20pt;
    padding:10pt;
    transition:1s;
}